<section>
    <h1 class="titulo">Mercado</h1>
    <div class="_mercados">

        
        <div class="_mercado" >
            <app-card 
                *ngFor="let market of mercados"                                                                                                                                                                       
                [infoMercado]="market"
                (click)="onCardClick(market)">
            </app-card>
        </div>
    </div>

</section>
<app-mercado-modal 
    *ngIf="focusedMarket"
    [item]="focusedMarket"
    (onClose)="focusedMarket = undefined">
</app-mercado-modal>
