<div class="modal-bg" (click)="toggleClose()"></div>

<div class="modal-bg"></div>
<div class="modal-container">
    <div class="modal-header">
        <div class="title"><h1>
            {{item?.establishment}}
        </h1>
    </div>
        <div class="close" (click)="toggleClose()">x</div>
    </div>

    <div class="modal-content">
        <p>{{item?.product}}</p>
    </div>

    <div class="modal-footer">
        <p>R$ {{item?.value}}</p>
        <button>Comprar</button>
    </div>
</div>
