.modal-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0; left: 0;
    backdrop-filter: blur(2px);
}
.modal-container {
    position: fixed;
    width: 400px;
    height: 500px;
    top: 0;left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    margin: auto;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    .modal-footer, .modal-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}
