nav{
    width: 10rem;
    height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.375);
    padding: 1rem;
    background-color: rgb(165, 89, 8);

    section:first-child{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: .5rem;
    }
}

nav a {
  color: white; 
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

nav a:hover {
  color: #ffd966;
}