
<!-- <section>
    <h1 class="titulo">Comidas </h1>
    <div class="_comidas">
     
        <div class="_comida" >
            <app-card *ngFor="let food of comidas ; track: $index"                                                                                                                                                                       
                [infoComida]="food">
            </app-card>
        </div>
    </div>
    
</section> normal -->

<section>
  <h1 class="titulo">Comidas</h1>

  <div class="_comidas">

    <app-comida-modal *ngIf="focusedFood"
      [item]="focusedFood"
      (onClose)="focusedFood = undefined">
    </app-comida-modal>

    <div class="_comida">
      <app-card *ngFor="let food of comidas"
        [infoComida]="food"
        (click)="onCardClick(food)">
      </app-card>
    </div>

  </div>
</section>  

