.main-container{
    display: flex;
    background-color:antiquewhite;
    color: gray;

    .nome{
    justify-content: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    }

    .card {
    width: 350px;
    min-height: 400px;  
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    border-radius: 12px;
    background-color: white;
    margin: 20px; 
}
}

